# This is the main configuration file that will include the other configurations

# Enable disruption actions
SecRuleEngine On
SecRequestBodyAccess On

# Enable the default block action to return a 403
SecDefaultAction "phase:2,log,auditlog,deny,status:403"

# Include the configuration for each operation
{{#apiInfo}}
{{#apis}}
Include {{classFilename}}.conf
{{/apis}}
{{/apiInfo}}

# For anything else, deny by default
SecMarker FAILED_API_CHECKS
SecAction "id:4220001,log,auditlog,block,phase:2,msg:'Unknown API endpoint'"
